﻿@{
    ViewData["Title"] = "Kai J,Works";
}

<style>
    .mb-5, .my-5 {
        margin-top: 3rem !important;
    }

    .mb-0, .my-0 {
        margin-bottom: 2rem !important
    }
</style>



<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Kai J,Works</span>
        <span class="d-none d-lg-block">
            <img style="height:10rem" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="content/img/background.jpg" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">

            <!--- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#games">Game 遊戲類</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#website">WebSite 網站類</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#system">System 系統類</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#other">Other 其他類</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About 關於我</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Skills 技能</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="games">
        <div class="w-100">
            <h2 class="mb-5">Game</h2>
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">
                        <video id="myVideo01" style="width:100%;max-width:500px;box-shadow: 3px 3px 15px #000000;height:100%;min-height:250px" class="video-js vjs-big-play-centered"
                            poster="/images/Game.jpg"   >
 
                            <p class="vjs-no-js">
                                <!-- 如果使用者不支援JavaScript，顯示這段-->
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>


                    </h3>
                    <div class="subheading mb-3">遊戲大廳</div>
                    <p>遊戲大廳，包含選單、頭像、規則等功能，連結全部遊戲的主要通道。此專案我負責兩個部分：
                    <br>第一部分為客端Cocos包含動畫、多語系、與後端封包串接。 <br>
                    第二部分為後端c#包含API串接、遊戲封包規劃。
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2020 - July 2021</span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">
                        <video id="myVideo02" style="width:100%;max-width:500px;box-shadow: 3px 3px 15px #000000;height:100%;min-height:250px" class="video-js vjs-big-play-centered"
                               poster="/images/Snake.jpg">

                            <p class="vjs-no-js">
                                <!-- 如果使用者不支援JavaScript，顯示這段-->
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>



                    </h3>
                    <div class="subheading mb-3">瘋狂貪吃蛇</div>
                    <p>
                        世界級經典遊戲，玩家操控一條細長的蛇，它會不停前進，一路拾起觸碰到的食物，每吃掉一個食物，它的身體就會變長，並要避免碰到自己或他人，身體越長遊戲越刺激，越玩會越上癮。
                        此專案我只負責後端：
                        <br>
                        為後端c#包含API串接、遊戲邏輯(玩家移動判斷、死亡處理、地圖路徑、AI撰寫、食物生成)、配桌處理、多執行緒、帳務計算(多結算)、遊戲封包規劃等。
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2020 - July 2021</span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">
                        <video id="myVideo03" style="width:100%;max-width:500px;box-shadow: 3px 3px 15px #000000;height:100%;min-height:250px" class="video-js vjs-big-play-centered"
                               poster="/images/PhaiKhang.jpg">

                            <p class="vjs-no-js">
                                <!-- 如果使用者不支援JavaScript，顯示這段-->
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>


                    </h3>
                    <div class="subheading mb-3">牌肯</div>
                    <p>
                        泰國當地非常流行的遊戲，起源於泰國南部，撲克牌在泰國還沒有很流行的時候，"牌肯"在泰國南部就已經非常流行，"肯＂是给别的玩家看自己手裡的牌，是泰國南部的語言。
                        此專案我負責兩個部分：
                        <br>第一部分為客端Cocos包含動畫、多語系、抽丟牌、與後端封包串接等。 <br>
                        第二部分為後端c#包含API串接、遊戲邏輯(抽丟牌判斷、AI撰寫、牌點數計算)、配桌處理、帳務計算(多結算)、遊戲封包規劃等。
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2020 - July 2021</span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">
                        <video id="myVideo04" style="width:100%;max-width:500px;box-shadow: 3px 3px 15px #000000;height:100%;min-height:250px" class="video-js vjs-big-play-centered"
                               poster="/images/LastCard.jpg">

                            <p class="vjs-no-js">
                                <!-- 如果使用者不支援JavaScript，顯示這段-->
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>



                    </h3>
                    <div class="subheading mb-3">最後一張</div>
                    <p>
                        此遊戲為四人同遊的遊戲，每一場遊戲會使用四組牌(180張)進行遊玩。
                        此專案我負責兩個部分：
                        <br>第一部分為客端Cocos包含動畫、多語系、抽丟牌、與後端封包串接等。 <br>
                        第二部分為後端c#包含API串接、遊戲邏輯(抽丟牌判斷、AI撰寫、花色及點數判斷)、配桌處理、帳務計算、遊戲封包規劃等。
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2020 - July 2021</span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">
                        <video id="myVideo05" style="width:100%;max-width:500px;box-shadow: 3px 3px 15px #000000;height:100%;min-height:250px" class="video-js vjs-big-play-centered"
                               poster="/images/Flower.jpg" >

                            <p class="vjs-no-js">
                                <!-- 如果使用者不支援JavaScript，顯示這段-->
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>


                    </h3>
                    <div class="subheading mb-3">百人炸金花</div>
                    <p>
                        炸金花為近年中國經典的棋牌遊戲，而在近年漸漸衍生出能夠多人遊玩的版本，百人炸金花擁有了炸金花的規則與玩法，但加快了遊戲的節奏以及人數限制的需求，讓更多的玩家可以同遊。
                        此專案我只負責客端部分：
                        <br>為客端Cocos包含動畫、多語系、籌碼、多選桌選單、與後端封包串接等。
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2020 - July 2021</span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">
                        <video id="myVideo06" style="width:100%;max-width:500px;box-shadow: 3px 3px 15px #000000;height:100%;min-height:250px" class="video-js vjs-big-play-centered"
                               poster="/images/Gao Gae.jpg">

                            <p class="vjs-no-js">
                                <!-- 如果使用者不支援JavaScript，顯示這段-->
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>


                    </h3>
                    <div class="subheading mb-3">九雞億萬富翁</div>
                    <p>
                        億萬富翁不同於經典九雞，5張牌牌組變化多端，更多獲勝機會，開牌即比牌，快節奏增添刺激感，用最棒的牌組來成為億萬富翁吧！
                        此專案我只負責客端部分：
                        <br>為客端Cocos包含動畫、多語系、籌碼、丟牌、按鈕判斷、與後端封包串接等。
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2020 - July 2021</span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/01.png"></h3>
                    <div class="subheading mb-3">魔女逃脫遊戲</div>
                    <p>這是一個用AS3製作而成的懸疑逃脫遊戲，程式由我來撰寫，遊戲內容是主角勿闖魔女的屋子，而被鎖在裡面出不來，必須找出關鍵物品才可逃出。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2015 - Now , <a href="https://www.kongregate.com/games/JunKaiC13/mo-nu-tao-tuo-you-xi" style="color:blue" target="_blank">前往遊玩(link)</a></span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">

                    <div id="blueimp-video-carousel"
                         class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="play-pause"></a>
                    </div>

                    <br>
                    <div class="subheading mb-3">HTML5抓老鼠- Construct 2</div>
                    <p>這是一款使用Construct 2製作的HTML5小遊戲，串接於熊i猜並提供給玩家取得站內遊戲幣。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2019 - Now , <a target="_blank" href="https://drive.google.com/folderview?id=0B5RIIpVamHuySmZwa3NtUVIxcGM&usp=drive_web" style="color:blue">GitHub連結(Link)</a></span>
                </div>
            </div>

            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/unity01.jpg"></h3>
                    <div class="subheading mb-3">一個人捉迷藏-恐怖遊戲</div>
                    <p>這是一款3D恐怖遊戲，場景位於北商的四樓，有個女孩不明倒地在這，殊不知已經進入不知明的遊戲中，想知道更多內容嗎，趕快點下連結遊玩。我這款我使用unity3D 多數javaScript和少數C#進行編寫，在AI部分花相當多時間下去經營，有興趣可以下載來玩。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2016 - Now , <a target="_blank" href="https://drive.google.com/folderview?id=0B5RIIpVamHuySmZwa3NtUVIxcGM&usp=drive_web" style="color:blue">遊戲連結(link)</a></span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/unity03.jpg"></h3>
                    <div class="subheading mb-3">弒龍1</div>
                    <p>這是我製作大型單機3D遊戲，這個遊戲我使用了大量C#去編寫，花了滿多時間的大型遊戲。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2015 - Now , <a target="_blank" href="https://drive.google.com/open?id=0B5RIIpVamHuyNEFTM1o3dXIxU3c" style="color:blue">遊戲連結(link)</a></span>
                </div>
            </div>

            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/unity04.jpg"></h3>
                    <div class="subheading mb-3">連線型遊戲 弒龍2</div>
                    <p>延續弒龍1繼續製作的3D連線遊戲，擁有3個角色可以自由選擇，並形成2方自由連線對打，只要擊敗對方的龍就可獲得勝利。這個遊戲我花滿多時間去研究線上型連線遊戲製作方式，PHP+MYSQL等串接，並且完成它</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2016 - Now , <a target="_blank" href="http://pan.baidu.com/s/1sl9t3yd" style="color:blue">遊戲連結(link)</a></span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/unity02.jpg"></h3>
                    <div class="subheading mb-3">2D小龍</div>
                    <p>這是在我某一無聊做的2D小遊戲，還算不錯玩，歡迎下載來玩</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2015 - Now , <a target="_blank" href="https://drive.google.com/open?id=0B5RIIpVamHuyOTh5UGJqUk80ZW8" style="color:blue">遊戲連結(link)</a></span>
                </div>
            </div>
            <hr class="m-0">

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/2_003.jpg"></h3>
                    <div class="subheading mb-3">
                        AS3楓之谷仿製練習
                    </div>
                    <p>這個遊戲也是運用AS3製作成，圖是用Adobe Illustrator 仿著圖做出來，程式部分由本人撰寫，練習用遊戲做完有種成就感，一共有2種模式，歡迎試玩。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2015 - Now , <a href="https://sites.google.com/site/leinnas123/b02/ceshi" style="color:blue">遊戲連結(link)</a></span>
                </div>
            </div>

            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/flash03.jpg"></h3>
                    <div class="subheading mb-3">
                        網頁線上遊戲-翻翻樂
                    </div>
                    <p>支助所研發的化學線上遊戲，此款為翻翻樂，玩法、詳情皆為保密。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2018 - Now </span>
                </div>
            </div>

            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/flash04.jpg"></h3>
                    <div class="subheading mb-3">
                        網頁連線遊戲-賓果
                    </div>
                    <p>支助所研發的化學線上遊戲，此款為翻翻樂，玩法、詳情皆為保密。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2018 - Now </span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/flash05.jpg"></h3>
                    <div class="subheading mb-3">
                        網頁連線遊戲-撿紅點
                    </div>
                    <p>支助所研發的化學線上遊戲，此款為翻翻樂，玩法、詳情皆為保密。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2018 - Now </span>
                </div>
            </div>







        </div>
    </section>
    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="website">
        <div class="w-100">
            <h2 class="mb-5">WebSite</h2>
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/phpweb01.jpg"></h3>
                    <div class="subheading mb-3">北商宿舍網</div>
                    <p>前端使用bootstrap、jquery、css3設計，後端則是php。此網站是提供給新生和舊生報名宿舍所使用，裡面系統有新生申請系統、排宿系統、查房系統、查IP系統等。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2015 - Now , <a target="_blank" href="http://207.244.242.53:8090/School" style="color:blue">網頁展示連結(link)</a></span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/php-html5.jpg"></h3>
                    <div class="subheading mb-3">大溪高中桌遊網頁</div>
                    <p>前端使用bootstrap、jquery、css3設計，後端則是php。此網站是提供給大溪高中化學使用。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">
                        June 2016 -
                        January -2017
                    </span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/web-bear.png"></h3>
                    <div class="subheading mb-3">
                        熊i猜娛樂網
                    </div>
                    <p>前端使用bootstrap、jquery、css3、canvas設計，後端則是c# .Net。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">
                        June 2017 -
                        Now , <a target="_blank" href="https://github.com/pop5798pop5798/bearguess" style="color:blue">GitHub連結(link)</a>
                    </span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="/images/antmod.jpg"></h3>
                    <div class="subheading mb-3">
                        AntMod 檔案&短連結轉換
                    </div>
                    <p>AntMod是一個在線文件轉換平台，包括在線視頻轉換、短鏈接、圖片轉換等。使用c# .Net Core開發。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">
                        June 2017 -
                        Now , <a target="_blank" href="https://antmod.tw" style="color:blue">網站連結(link)</a>
                    </span>
                </div>
            </div>
            @*<hr class="m-0">
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0"><img style="max-width:80%" src="Content/img/web-bear.png"></h3>
                <div class="subheading mb-3">
                    Banner特效展現
                </div>
                <p>使用了canvas、css3各種特效制作。</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">
                    June 2017 -
                    Now , <a href="https://funbet.com.tw/" style="color:blue">網頁連結(link)</a>
                </span>
            </div>
        </div>*@
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/seoall.png"></h3>
                    <div class="subheading mb-3">
                        SEO搜索引擎優化
                    </div>
                    <p>利用google search console 結構化、JSON-LD。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">
                        June 2018 -
                        Now
                    </span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/php04.jpg"></h3>
                    <div class="subheading mb-3">
                        wordpress購物網站
                    </div>
                    <p>由wordpress製作而成的購物網站，串接了歐付寶、超商取貨等api。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">
                        June 2017 -
                        May 2017
                    </span>
                </div>
            </div>

        </div>
    </section>


    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="other">
        <div class="w-100">
            <h2 class="mb-5">Other</h2>
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/other-app.jpg"></h3>
                    <div class="subheading mb-3">省電魔app</div>
                    <p>這是為了要參加台電的比賽才取成省電魔，AS3語法</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2015 - Now , <a href="https://drive.google.com/open?id=0B5RIIpVamHuydjV3MjY3Vl85NXM" style="color:blue">遊戲連結(link)</a></span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/other04.jpg"></h3>
                    <div class="subheading mb-3">arduino藍芽小車</div>
                    <p>用arduino去撰寫的車子，用MIT App Inventor 2去撰寫控製用的APP。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2016 - Now , <a href="https://drive.google.com/open?id=0B5RIIpVamHuySTd1MW5lZTNXQVU" style="color:blue">說明書連結(link)</a></span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/other03.jpg"></h3>
                    <div class="subheading mb-3">遊戲企劃_歐格萊</div>
                    <p>試寫遊戲企劃。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2016 - Now , <a href="https://drive.google.com/open?id=0B5RIIpVamHuyZEZ1cHphbE44NVE" style="color:blue">企劃書連結(link)</a></span>
                </div>
            </div>
            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/other02.jpg"></h3>
                    <div class="subheading mb-3">processing製作的格鬥遊戲</div>
                    <p>這是processing去撰寫的格鬥遊戲。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2015 - Now , <a href="https://drive.google.com/open?id=0B5RIIpVamHuyeXgyWldmcTN0N3c" style="color:blue">遊戲連結(link)</a></span>
                </div>
            </div>

            <hr class="m-0">
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0"><img style="max-width:80%" src="content/img/other01.jpg"></h3>
                    <div class="subheading mb-3">攝影</div>
                    <p>攝影作品。</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2015 - Now , <a href="https://drive.google.com/open?id=0B5RIIpVamHuyUm00RzM1eHFPYU0" style="color:blue">連結(link)</a></span>
                </div>
            </div>








        </div>
    </section>
    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 title="程俊凱" class="mb-0" style="text-transform:none">
                Kai
                <span class="text-primary">J</span>
            </h1>
            <div class="subheading mb-5">
                台中市西屯區
                <a style="text-transform:none" href="#" onclick="window.open('https://mail.google.com/mail/', 'GoogleMail', config='height=500,width=500');">pop5798pop5798@gmail.com</a>

            </div>
            <p class="lead mb-5">我是以.Net、c#為主的編程師，其中還有jquery、css3等前端也是我的強項，其次則是unity3D、Construct 2、AS3遊戲設計。我的興趣是應用各種程式語言創造更不一樣的世界，是值得挑戰的。</p>
            <p class="lead mb-5">Kai is a Full stack engineer.His work focuses specifically Software development and website development.His skill can be found in <a class="js-scroll-trigger" href="#skills">SKILLS</a> page.</p>
            <div class="social-icons">

                <a target="_blank" href="https://github.com/pop5798pop5798">
                    <i class="fab fa-github"></i>
                </a>

                <a target="_blank" href="https://www.facebook.com/profile.php?id=100004754860667">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a target="_blank" href="https://antdata.club:4409/kai/">
                    <i class="fas fa-link"></i>
                </a>
            </div>
        </div>
    </section>
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">編程語言和工具<!--Programming Languages &amp; Tools!--></div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item" style="margin-right: 0px;">
                    <div style="/* width: 45px; *//* margin: -20px auto; */width: 60px;height: 60px;background: url('content/img/Microsoft_.NET_logo.png');background-size: 45px 45px;background-position: 0px 10px;background-repeat: no-repeat;" src="Content/img/Microsoft_.NET_logo.png"></div>
                </li>
                <li class="list-inline-item">
                    <div style="/* width: 45px; *//* margin: -20px auto; */width: 60px;height: 60px;background: url('content/img/Csharp_Logo.png');background-size: 60px 60px;background-position: 0px 0px;background-repeat: no-repeat;" src="Content/img/Microsoft_.NET_logo.png"></div>
                </li>
            </ul>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-php"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-js-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-angular"></i>
                </li>

                <li class="list-inline-item">
                    <i class="fab fa-wordpress"></i>
                </li>

                <li class="list-inline-item">
                    <i class="fab fa-github"></i>
                </li>
                <li class="list-inline-item">
                    <img style="width: 50px;" src="~/content/img/ico2.png">
                </li>
                <li class="list-inline-item">
                    <img style="width: 50px;" src="~/content/img/ico1.png">
                </li>
                <li class="list-inline-item">
                    <img style="width: 50px;" src="~/content/img/ico4.png">
                </li>


            </ul>
            <div class="subheading mb-3">個人技能熟練度<!---Workflow--></div>
            <canvas id="myChart"></canvas>




        </div>
    </section>

    @*<hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
            <div class="w-100">
                <h2 class="mb-5">Awards &amp; Certifications</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Google Analytics Certified Developer
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Mobile Web Specialist - Google Certification
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        1<sup>st</sup>
                        Place - University of Colorado Boulder - Emerging Tech Competition 2009
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        1<sup>st</sup>
                        Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        2<sup>nd</sup>
                        Place - University of Colorado Boulder - Emerging Tech Competition 2008
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        1<sup>st</sup>
                        Place - James Buchanan High School - Hackathon 2006
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        3<sup>rd</sup>
                        Place - James Buchanan High School - Hackathon 2005
                    </li>
                </ul>
            </div>
        </section>*@
</div>
@section Scripts 
{
<script>
    $(function () {
        videojs('myVideo01', {
            sources: [{
                src: '/video/GameCenten/Fbiuua.m3u8'
            }],
            muted: true,
            loop: true,
            preload: 'auto',
            controls:true

            
        });
        //貪食蛇
        videojs('myVideo02', {
            sources: [{
                src: '/video/Snake/bQZRJf.m3u8'
            }],
            muted: true,
            loop: true,
            preload: 'auto',
            controls: true

        });
        //牌肯
        videojs('myVideo03', {
            sources: [{
                src: '/video/PhaiKhang/YF3aia.m3u8'
            }],
            muted: true,
            loop: true,
            preload: 'auto',
            controls: true

        });

        videojs('myVideo04', {
            sources: [{
                src: '/video/LastCard/LastCard.m3u8'
            }],
            muted: true,
            loop: true,
            preload: 'auto',
            controls: true

        });

        videojs('myVideo05', {
            sources: [{
                src: '/video/Hundreds Golden Flower/Flower.m3u8'
            }],
            muted: true,
            loop: true,
            preload: 'auto',
            controls: true

        });

        videojs('myVideo06', {
            sources: [{
                src: '/video/Gao Gae-Billionaire/Gao.m3u8'
            }],
            muted: true,
            loop: true,
            preload: 'auto',
            controls: true

        });


    });
</script>


}




