﻿<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="Kai,Kai.j,Works,程俊凱,Unity,c#,JS,Css,Canvas,Construct 2" />
    <meta name="author" content="程俊凱">
    <title>作品集網頁 |  @ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Content/slick/slick.css" />

    <link rel="stylesheet" type="text/css" href="/Content/slick/slick-theme.css" />
    <!-- Custom styles for this template -->
    <link href="/Content/css/resume.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134192514-2"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134192514-3"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.33.0/css/blueimp-gallery.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.33.0/css/blueimp-gallery-indicator.min.css">
    <link rel="stylesheet" href="/content/Gallery/css/blueimp-gallery.css" />
    <link rel="stylesheet" href="/content/Gallery/css/blueimp-gallery-indicator.css" />
    <link rel="stylesheet" href="/content/Gallery/css/blueimp-gallery-video.css" />
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />


    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-134192514-3');
    </script>


    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "Organization",
        "url": "https://kai.antmod.tw"
        }
    </script>
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "Course",
        "name": "作品集網頁 | Kai,J Works",
        "description": "我是以.Net、c#為主的編程師，其中還有jquery、css3等前端也是我的強項，其次則是unity3D、Construct 2、AS3遊戲設計。我的興趣是應用各種程式語言創造更不一樣的世界，是值得挑戰的。",
        "provider": {
        "@@type": "Organization",
        "name": "About關於我",
        "sameAs": "https://kai.antmod.tw"
        }
        }
    </script>

</head>
<body id="page-top">
    @RenderBody()
    <!-- Bootstrap core JavaScript -->
    <script src="/content/vendor/jquery/jquery.min.js"></script>
    <script src="/content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->

    <script async src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.33.0/js/blueimp-helper.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.33.0/js/blueimp-gallery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.33.0/js/blueimp-gallery-fullscreen.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.33.0/js/blueimp-gallery-indicator.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.33.0/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/content/Gallery/js/blueimp-helper.js"></script>
    <script src="/content/Gallery/js/blueimp-gallery.js"></script>
    <script src="/content/Gallery/js/blueimp-gallery-fullscreen.js"></script>
    <script src="/content/Gallery/js/blueimp-gallery-indicator.js"></script>
    <script src="/content/Gallery/js/blueimp-gallery-video.js"></script>
    <script src="/content/Gallery/js/blueimp-gallery-vimeo.js"></script>
    <script src="/content/Gallery/js/blueimp-gallery-youtube.js"></script>
    <script src="/content/Gallery/js/vendor/jquery.js"></script>
    <script src="/content/Gallery/js/jquery.blueimp-gallery.js"></script>
    <script src="/content/Gallery/js/demo/demo.js"></script>
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');

        var myBarChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ['c# asp.net', 'MsSQL', 'PHP', 'MySQL', 'Python', 'Front-End (JS、CSS)'],
                datasets: [{
                    label: 'skills and abilities',
                    data: [90, 88, 50, 60, 30, 80],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    barPercentage: 0.5,
                    barThickness: 6,
                    maxBarThickness: 8,
                    minBarLength: 0,
                    borderWidth: 1,

                }]
            },
            options: {
                responsive: true,
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true,
                            min: 0,
                            max: 100
                        }
                    }]
                }
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
