﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Flash_Game</title>
</head>
<body>
    <div>
        <object width="640" height="385">
            <param name="movie" value="Your_Flash_file.swf"></param>
            <param name="allowFullScreen" value="true"></param>
            <param name="allowScriptAccess" value="always"></param>
            <embed src="~/Content/01-08flash.swf" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="385">
            </embed>
        </object>
    </div>
</body>
</html>
